<form  novalidate action="/edit/{{id}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      

    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label>Name</label>
        <input type="text" name="name" class="form-control" placeholder="name" id="name" required data-validation-required-message="Please enter name." value="{{student.name}}">
        <p class="help-block text-danger"></p>
      </div>
    </div>

    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>Address</label>
          <input type="text" name="addr" class="form-control" placeholder="Address" id="Address" required data-validation-required-message="Please enter Address."  value="{{student.addr}}">
          <p class="help-block text-danger"></p>
        </div>
      </div>
    
    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label>City</label>
        <input type="text" name="city" class="form-control" placeholder="city" id="city" required data-validation-required-message="Please enter city."  value="{{student.city}}" >
        <p class="help-block text-danger"></p>
      </div>
    </div>

    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label>pin</label>
        <input type="text" name="pin" class="form-control" placeholder="pin" id="pin" required data-validation-required-message="Please enter pin code."  value="{{student.pin}}" >
        <p class="help-block text-danger"></p>
      </div>
    </div>

    <br>
    <div id="success"></div>
    <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
  </form>
 
