<footer class=" container-fluid"> 
    <section class=" container">
      <div class="d-flex justify-content-between align-items-start">
        <div class="nav flex-column me-3"  aria-orientation="vertical">
          <h4>Quic Links</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ">Disabled</a>
            </li>
          </ul>
        </div>
        
        <div class="nav flex-column me-3"  aria-orientation="vertical">
          <h4>Browse Domains</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Data Science Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">AI & Machine Learning Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Digital Marketing Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cyber Security Courses</a>
            </li>
          </ul>
        </div>

        <div class="nav flex-column me-3"  aria-orientation="vertical">
          <h4>Great Learning Academy</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Free Courses with Certificates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">All Career Path</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Live Sessions & Webinars</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CareerBoost - Get a Job</a>
            </li>
          </ul>
        </div>
      </div><!-- footer section end -->
    </section>
  </footer>