<div class="sidebar-warper" >
    <div class = "media d-flex align-items-cente" style="padding-top: 30px;" > 
        <img src = "/static/img/trainers/trainer-1.jpg" alt = " ... " width = "80" height = "80" class = "mr-3 rounded-circle img-thumbnail shadow-sm ">
        <div class = "media-body" >
            <h4 class = "m-0" > Alivia </h4 > 
            <p class = "font-weight-normal text-muted mb-0" >Web developer </p> 
        </div>
    </div>
    <a href="/instructor">
        <p class = "dashboar-text font-weight-bold text-grey text-uppercase small text-start">Instructor Dashboard</p>
    </a>
    <ul class="sidebar-nav ">
        <li class="nav-item">
            <a class="nav-link" aria-current="Profile" href="#">Profile</a>
          </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Course Manegment
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/instructor/list_course">List Courses</a></li>
              <li><a class="dropdown-item" href="/instructor/add_course/0">Add Course</a></li>
            </ul>
          </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Category Manegment
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/instructor/list_category">List Category</a></li>
                <li><a class="dropdown-item" href="/instructor/add_category/0">Add Category</a></li>
            </ul>
        </li>
    
    </ul>
</div>